<br>
<div class="back" routerLink="/admindashboard">
  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
  </svg>
</div>

<div class="search">
  <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <form class="d-flex" >
          <input class="form-control me-2" type="number" name="data"  [(ngModel)]="searchId" ngModel  placeholder="Search By Reservation Id" aria-label="Search">
        <!--  <button class="btn btn-outline-success" type="submit">Search</button> --> 
        </form>
      </div>
    </nav>
  </div>
  
  
  
 <div class="container  col-md-10" >
  <table  class="table table-info">
  
  <thead>
  <tr><th>RESERVATION ID</th><th>PICKUP</th><th>DROPOFF</th><th>STATUS</th><th>RESERVATION DATE</th><th>CUSTOMER_ID</th><th>CAR_ID<th>PAYMENT_ID</th></tr>
  </thead>
  
  <!-- <tr *ngFor="let reservation of  reservationSearchList | searchReservationById : searchId : 'reservationId' ">  -->
  <tr *ngFor="let reservation of reservationPageList | searchReservationById : searchId"> 
        <td>{{reservation.reservationId}}</td>
        <td>{{reservation.dateOfPickup}}</td>
        <td>{{reservation.dateOfDropoff}}</td>
        <td>{{reservation.reservationStatus}}</td>
        <td>{{reservation.dateOfReservation}}</td>
        <td>{{reservation.customerId}}</td>
        <td>{{reservation.carId}}</td>
        <td>{{reservation.paymentId}}</td>
      </tr>  
  
  </table>

  <mat-paginator [length]="reservationSearchList.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)"></mat-paginator>
  </div> 

 
  

  <!--<div class="container col-md-10">
    <table class="table table-info">
      <thead>
        <tr>
          <th>ID</th>
          <th>RESERVATION ID</th>
          <th>PICKUP</th>
          <th>DROPOFF</th>
          <th>STATUS</th>
          <th>RESERVATION DATE</th>
          <th>CUSTOMER</th>
          <th>CAR</th>
          <th>PAYMENT</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservationSearchList">
          <td>{{ reservation.resevationId }}</td>
          <td>{{ reservation.dateOfPickup }}</td>
          <td>{{ reservation.dateOfDropoff }}</td>
          <td>{{ reservation.reservationStatus }}</td>
          <td>{{ reservation.dateOfReservation }}</td>
        </tr>
      </tbody>
    </table>
  </div>-->
  
  <router-outlet> </router-outlet>