<body>
  

<br>
<div class="back" routerLink="/searchallcars">
  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
  </svg>
</div>

<div class="container">
    <form  #myform="ngForm"  method="post" (ngSubmit)="addCar(myform.value)">
  
      <label for="cmake">MAKE</label>
      <input type="text" id="cmake" #cmakecontrol="ngModel" name="make" placeholder="Enter car make"  required ngModel><br>
      <span  style="color: red;"  *ngIf="cmakecontrol.touched && cmakecontrol.invalid">Car make is Mandatory</span><br>
  
      <label for="cmodel">MODEL</label>
      <input type="text" id="cmodel" #cmodelcontrol="ngModel" name="model" placeholder="Enter car model" required ngModel><br>
      <span  style="color: red;"  *ngIf="cmodelcontrol.touched && cmodelcontrol.invalid">Car model is Mandatory</span><br>
     
      <label for="loc">LOCATION</label>
      <input type="text" id="loc" #loccontrol="ngModel" name="location" placeholder="Enter location" required ngModel><br>
      <span  style="color: red;"  *ngIf="loccontrol.touched && loccontrol.invalid">Location is Mandatory</span><br>
  
      <label for="drate">DAILY RATE</label>
      <input type="number" id="drate" #dratecontrol="ngModel" name="dailyRate" placeholder="Enter daily rate" required ngModel><br>
      <span  style="color: red;"  *ngIf="dratecontrol.touched && dratecontrol.invalid">Daily rate is Mandatory</span><br>
  
      <label for="cstatus"> CAR STATUS</label>
      <input type="text" id="cstatus" #cstatuscontrol="ngModel"  name="carStatus" placeholder="Enter car status" required ngModel><br>
      <span  style="color: red;"  *ngIf="cstatuscontrol.touched && cstatuscontrol.invalid">Car status is Mandatory</span><br>
  
      <label for="specification">SPECIFICATION</label>
      <input type="text" id="specification" #specificationcontrol="ngModel" name="specifications" placeholder="Enter specifications"required  ngModel><br>
      <span  style="color: red;"  *ngIf="specificationcontrol.touched && specificationcontrol.invalid">Specifications is Mandatory</span><br>
  
      <label for="pcapacity">PASSENGER CAPACITY</label>
      <input type="number" id="pcapacity" #pcapacitycontrol="ngModel" name="passengerCapacity" placeholder="Enter passenger capacity"required ngModel><br>
      <span  style="color: red;"  *ngIf="pcapacitycontrol.touched && pcapacitycontrol.invalid">Passenger capacity is Mandatory </span><br>
  
      <button type="submit"   [disabled]="myform.invalid" >Submit</button>
    </form>
  </div><br>

</body>